# Llaves de ImageKit
PUBLIC_API_KEY=tu_public_api_key
PRIVATE_API_KEY=tu_private_api_key

FIREBASE_KEY='llave_de_firebase.json'

EMAIL_SENDER='tu_email@example.com'
EMAIL_PASSWORD='tu_contraseña'
SMTP_SERVER='smtp.example.com'
SMTP_PORT=465
