# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.env

# Virtual environments
venv/
env/
.venv/

# IDE / Editor
.vscode/
.idea/

# Logs
*.log

# MacOS
.DS_Store

# Pytest / coverage
htmlcov/
.coverage

credenciales/firebase-key.json
credenciales/firebase-key.b64.txt
